<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="BookContext" connectionString
         ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='|DataDirectory|\Bookstore.mdf';Integrated Security=True"
 providerName="System.Data.SqlClient" />
  </connectionStrings>

  <connectionStrings>
    <add name="IdentityDb"  connectionString
         ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\IdentityDb.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>




</configuration>